*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
    background: url(./mountain.avif);
    background-size: cover;
    background-position: center;
}
.loginForm{
    width: 40vw;
    background: transparent;
    border: solid black 2px;
    backdrop-filter: blur(20px);
    color: rgb(240, 235, 235);
    position: relative;
    border-radius: 10px;
    padding: 40px 40px;
}
.loginForm h1{
font-size: 35px;
text-align: center;
}

.details .var{
    position: relative;
    left: 23px;
    border-radius: 5px;
    padding: 2px;
    top: -6px;
}
.loginForm .details{
    width: 100%;
    height: 50px;
    margin: 40px 0px;
}


.details input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: solid black 2px;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.details select{
    width: 100%;
    /* height: 100%; */
    background: transparent;
    border: none;
    outline: none;
    border: solid black 2px;
    border-radius: 40px;
    /* font-size: 15px;                          */
    /* color: white; */
    padding: 9px 22px 20px 15px;
}
.details option{
    top: 30px;
}

.details i{
    position: absolute;
    right: 45px;
    line-height: 50px;
    transform: translate(-50%);
    font-size: 20px;
}

.loginForm .remForgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.remForgot a{
    text-decoration: none;
    color: white;
}
.remForgot a:hover{
   text-decoration: underline;
}
.remForgot .cb{
  position: relative;
  top: 2.5px;
}
.loginForm .btn{
    
    width: 100%;
    height: 45px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;

}

.loginForm .registerLink{
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 24px;
    /* hello */
}
.registerLink p a{
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.registerLink p a:hover{
  text-decoration: underline;
}

/* input[type=password]::-ms-reveal {
    display: none;
  }
.fa-lock{
    cursor: pointer;
} */

.moreLogin{
    position: relative;
    text-align: center;
    top: 8px;
}

 .loginForm .moreOption{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    top: 17px;
}
.loginForm .moreOption > * { 
    margin-right: 15px; 
  }

hr{
    position: relative;
    top: 15px;
}

/* media query for smaller screen size */
@media (max-width: 1200px) {
    .loginForm{
        width: 50vw;
    }
}

@media (max-width: 700px) {
    .loginForm{  
        width: 65vw;
    }
}
@media (max-width: 500px) {
    .loginForm{  
        width: 75vw;
    }
}
@media (max-width: 430px) {
    .loginForm{  
        width: 85vw;
    }
}
@media (max-width: 390px) {
    .loginForm{  
        width: 100vw;
        height: 70vh;
        background: transparent;
        border: none;
        backdrop-filter: blur(20px);
        color: rgb(240, 235, 235);
        position: relative;
        border-radius: 10px;
        padding: 30px 40px;
    }
    body{
        backdrop-filter: blur(20px);
    }
    
}   


















