.container {
    display: flex;
    height: 100vh;
  }
  
  .batchesSection {
    flex: 7;
    padding: 20px;
  }
  
  .chatroomSection {
    flex: 3;
    padding: 20px;
    background-color: #f4f4f4;
  }
  