/* Base styles for the navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  z-index: 1000; /* Ensure navbar is on top */
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 1rem; /* Space between logo and menu */
}

.navMenu {
  display: flex;
  margin: 0;
  padding: 0;
}

.navMenuItem {
  list-style: none;
}

.navMenuLink {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

/* Active state for tabs */
.navMenuLink.active {
  background-color: #172554; /* Active tab color */
  color: white; /* Ensure text is readable */
  font-weight: bold; /* Make the active tab stand out */
}

.navMenuLink:not(.active):hover {
  background-color: #172554; /* Hover color */
}

/* Profile active state */
.profile.active {
  background-color: #172554; /* Same color as hover */
  color: white; /* Ensure text is readable */
  font-weight: bold; /* Make the profile tab stand out */
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  margin-right: 1rem;
  z-index: 1001; /* Ensure menu icon is on top */
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.profile {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles for mobile view */
@media (max-width: 480px) {
  .nav {
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem;
  }

  .logo {
      display: none; /* Hide logo in mobile view */
  }

  .menu {
      display: flex;
  }

  .title {
      display: none;
  }

  .navMenu {
      display: flex;
      flex-direction: column;
      width: 40%;
      position: fixed;
      top: 0;
      left: -40%;
      height: 100%;
      background-color: #0f172a;
      padding-top: 3.5rem; /* Adjust padding to match navbar height */
      transition: left 0.3s ease-in-out;
      z-index: 999; /* Ensure menu is below navbar */
  }

  .navMenu.open {
      left: 0;
  }

  .navMenuItem {
      width: 100%;
      text-align: left;
      padding-left: 1rem;
  }

  .navMenuLink {
      margin: 0.5rem 0;
  }

  .profile {
      order: 2;
      margin-left: auto;
  }
}
